<!DOCTYPE html>
    {{ partial "lang.html" . }}
<head>
    {{ partial "head.html" . }}
</head>

<body>
    <!-- PDF-spezifische Elemente (nur für Druck sichtbar) -->
    <div class="pdf-first-page">
        {{ partial "pdf-cover-page.html" . }}
        {{ partial "pdf-contact-section.html" . }}
    </div>
    
    <div class="wrapper">
    
    <div class="compact-header-section">
        {{ partial "sidebar.html" . }}
    </div>

	<div class="main-wrapper">
    
    {{ if .Site.Params.summary.enable }}
	{{ partial "summary.html" . }}
    {{ end }}

    {{ if .Site.Params.skills.enable }}
	{{ partial "skills.html" . }}

    {{ if .Site.Params.experiences.enable }}
    {{ partial "experiences.html" . }}
    {{ end }}

    {{ if .Site.Params.projects.enable }}
    {{ partial "projects.html" . }}
    {{ end }}


    {{ end }}

	</div><!--//main-body-->
    </div>

	{{ partial "footer.html" . }}

    {{ partial "scripts.html" . }}
</body>
</html>
