---
---
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="refresh" content="0;url=/de/" />
  <link rel="canonical" href="/de/" />
  <title>Redirecting...</title>
</head>
<body>
  <a href="/de/">Weiter zur deutschen Version</a>
</body>
</html>
