<!-- filepath: presentations.html -->
<section class="presentations-section section">
  <h2 class="section-title">
    <i class="fa fa-television"></i>{{ i18n "presentations" }}
  </h2>
  <div class="presentations-container">
    <ul class="list-unstyled presentations-list">
      <li>
        <a href="/de/slides/solved-challenges/" target="_blank">
          <span class="presentation-title">{{ i18n "solved_challenges" }}</span>
        </a>
      </li>
    </ul>
  </div>
  <!--//presentations-container-->
</section>
<!--//section-->
