<section class="skills-section section">
                <h2 class="section-title"><i class="fa {{ .Site.Params.skills.icon }}"></i>{{ i18n "skills" }}</h2>
                <div class="skillset pdf-skillset">
                    <div class="pdf-skills-columns">
                        {{ $skillsCount := len .Site.Params.skills.list }}
                        {{ $halfCount := div $skillsCount 2 }}
                        {{ $firstHalf := first $halfCount .Site.Params.skills.list }}
                        {{ $secondHalf := after $halfCount .Site.Params.skills.list }}

                        <div class="pdf-skills-column">
                            {{ range $firstHalf }}
                            <div class="item">
                                <h3 class="level-title">{{ .skill }}</h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="{{ .level }}">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->
                            {{ end }}
                        </div>

                        <div class="pdf-skills-column">
                            {{ range $secondHalf }}
                            <div class="item">
                                <h3 class="level-title">{{ .skill }}</h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="{{ .level }}">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->
                            {{ end }}
                        </div>
                    </div>
                </div>
            </section><!--//skills-section-->
