---
import ExperienceItem from './ExperienceItem.astro';
import type { ExperienceItem as ExpType } from '../lib/types';

interface Props {
  title: string;
  experiences: ExpType[];
}

const { title, experiences } = Astro.props;
---

<section>
  <h2 class="section-title">{title}</h2>

  <div class="relative border-l-2 border-[var(--color-border)] ml-1.5">
    {experiences.map((exp) => (
      <ExperienceItem experience={exp} />
    ))}
  </div>
</section>
