<link rel="stylesheet" href="/assets/css/pdf-export-ui.css" />
<div
  id="download-pdf"
  style="position: fixed; bottom: 15px; left: 15px; z-index: 100"
>
  <a href="?print-pdf" class="pdf-download-button" target="_blank">
    <i class="fas fa-file-pdf"></i> <span>PDF herunterladen</span>
  </a>
</div>

<div
  id="keyboard-shortcut-hint"
  style="
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100;
    font-size: 14px;
    color: #999;
  "
>
  Drücken Sie
  <kbd
    style="
      background-color: #f8f9fa;
      border: 1px solid #ccc;
      border-radius: 3px;
      padding: 2px 5px;
      font-family: monospace;
    "
    >f</kbd
  >
  für Vollbild,
  <kbd
    style="
      background-color: #f8f9fa;
      border: 1px solid #ccc;
      border-radius: 3px;
      padding: 2px 5px;
      font-family: monospace;
    "
    >o</kbd
  >
  für Übersicht
</div>
